:root {
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    background: linear-gradient(180deg, rgba(125, 130, 252, 0.2) 3%, rgba(255, 0, 138, 0.2) 54.6%), linear-gradient(100.64deg, #1EE4FF 5.58%, rgba(203, 15, 234, 0.75) 100.34%);
    border-radius: 10px;
    overflow: hidden;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html,
  body {
    max-width: 100vw;
  }
}
